<h3>Un état d'esprit</h3>
<p>Je suis sérieux. C'est à la fois une de mes <i>caractérisques comportementales</i> mais aussi une de mes <b>principales compétences</b>.</p>

<p>
    Je considère mon sérieux dans le comportement que j'adopte pour travailler. Je m'impose un <b>cadre</b> et m'y tiens.<br/>
    Je préfère prendre un peu plus de temps pour travailler sur un projet en faisant le code propre et clair que de coder rapidement et devoir passer plus de temps pour comprendre ce que j'ai fait.
</p>