<nav class="navbar navbar-default navbar-fixed-top navbar-custom" id="mainNav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button (click)="isCollapsed = !isCollapsed" aria-controls="bd-main-nav" class="navbar-toggle" type="button">
                <i class="fa fa-bars"></i>
            </button>
            <a (click)="isCollapsed = true" class="navbar-brand" [routerLink]="['/home']">Portfolio</a>
        </div>

        <div class="collapse navbar-collapse" id="bd-main-nav" [attr.aria-expanded]="!isCollapsed" [ngClass]="{'collapse': isCollapsed}">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden active" (click)="isCollapsed = true">
                    <a [routerLink]="['/home']">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" (click)="isCollapsed = true">
                    <a [routerLink]="['/projects']">
                        <i class="fa fa-bookmark"></i> {{'navbar.projects' | translate:lang}}
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" (click)="isCollapsed = true">
                    <a [routerLink]="['/skills']">
                        <i class="fa fa-star"></i> {{'navbar.skills' | translate:lang}}
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" (click)="isCollapsed = true">
                    <a [routerLink]="['/about']">
                        <i class="fa fa-user"></i> {{'navbar.about' | translate:lang}}
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" (click)="isCollapsed = true">
                    <a [routerLink]="['/contact']">
                        <i class="fa fa-envelope"></i> {{'navbar.contact' | translate:lang}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>