<h3>Les générateurs de CSS</h3>
<p>
    Les deux langages <a href="http://sass-lang.com/" target="_blank">SASS</a>, pour <i>Syntactically Awesome Stylesheets</i>, et <a href="http://lesscss.org/" target="_blank">LESS</a> sont des <b>préprocesseurs CSS</b>.
    C’est-à-dire que ces langages permettent de <b>générer</b> du code CSS qui sera interprétable par un navigateur Web.
</p>
<p>
    <i>Pourquoi générer du code CSS plutôt que de faire du CSS ?</i><br/>
    La raison est simple, une règle CSS est <b>statique</b> et lorsque l’on veut faire du style pour plusieurs éléments HTML on se retrouve vite avec une <b>redondance de code et d’informations</b>.
    La <b>maintenance d’un tel code devient alors compliqué</b>.<br/>
    Les préprocesseurs ajoutent des mécanismes de <b>variables, d’imbrications et de fonctions réutilisables</b>.
</p>
<p>
    Par exemple, imaginons que nous volons changer la couleur d’arrière-plan partagée dans plusieurs éléments.
    Dans du code CSS il faudrait <b>remplacer toutes les occurrences</b> de la couleur dans tous les éléments en question.<br/>
    Avec un préprocesseur, la couleur d’arrière-plan serait associée à une variable et les éléments utilisent cette variable pour définir leur arrière-plan.
    En <b>un seul changement</b>, tout le code CSS généré aura la nouvelle valeur de la couleur.
</p>
<p>
    L’utilisation de ses technologies a été un <b>gain de temps</b> pour l’entreprise et un approfondissement dans mes connaissances du CSS.
    J'ai pu établir des conventions et des thèmes rapidement adaptables aux clients et projets.
</p>
<p>
    Mon portfolio utilise le préprocesseur LESS pour gérer le style.
    Toutes les couleurs du thème ainsi que les animations sont définies en un endroit et réutilisées dans les différents composants du site web.
</p>