<h3>Pour du Web Dynamique</h3>
<p>
    AngularJS est un <i>framework JavaScript</i> pour développer des <b>applications Web dynamiques</b>.
    Il est écrit en <b>JavaScript</b>, langage de Scripting utilisé dans les navigateurs Web et repose sur l’utilisation de <b>jQuery</b>, une librairie JavaScript pour la manipulation des éléments d’une page Web.
    Ce framework est sorti en 2009.
</p>
<p>
    J'ai <b>travaillé quotidiennement pendant plus d'un an</b> avec AngularJS. J'ai pu parcourir un bon nombre de concepts et fonctionnalités pour créer des applications Web dynamiques.<br/>
    N'hésitez pas à regarder les projets dans la section <i>Projets</i> pour des exemples de réalisations avec AngularJS.
</p>
<p>
    La dernière version d'AngularJS, appelée <b>Angular</b>, apportant de nombreux changement et de grandes améliorations est sorti en 2016.<br/>
    La principale différence concerne le langage d'écriture du framework. Angular est écrit en <b>TypeScript</b>, un langage permettant d'avoir un code JavaScript plus <i>optimisé et performant</i>.<br/>
    De plus, plusieurs concepts ont été revus pour permettre de réaliser des applications sous forme de <b>Web Components</b>, un bloc permettant de définir une fonctionnalité et <i>réutilisable</i>.
</p>
<p>
    Le site que vous parcourez est réalisé en Angular pour monter en compétences sur cette nouvelle version du framework.<br/>
    Pour vous montrer le dynamisme de l'application, chaque lien du site <b>ne fait changer que le contenu</b> entre le haut et le bas de la page Web affichée.<br/>
    Chaque <i>bloc</i> dans la page correspond à un composant qui peut être <b>réutilisé</b> n'importe où ailleurs dans l'application.
</p>