<h3>Travail d'équipe à plusieurs ?</h3>
<p>Le travail d'équipe est très important dans le milieu du développement pour de nombreuses raisons.</p>
<p>
    Depuis toujours, je travaille ou je joue en équipe. <i>Le monde où nous vivons fonctionne en équipe.</i><br/>
    Le travail en équipe met en avant les compétences de chacun. Il est important de savoir <b>compter sur les autres</b> et que l'on puisse <b>compter sur moi</b> pour la bonne réalisation d'un projet.
</p>
<p>Depuis mon entré à <a href="https://www.intechinfo.fr/" target="_blank">IN'TECH</a> j'ai développé mes compétences pour répondre au <b>deux critères</b> cités précédemment.</p>
<p>J'ai appris à <b>écouter</b> et <b>prendre en considération</b> les remarques de mes équipiers pour m'améliorer.</p>
<p>J'ai compris comment trouver le bon <i>équilibre</i> pour travailler efficacement avec mes coéquipiers afin de réaliser un projet au mieux.</p>
<br/>

<p>J'ai mis cette compétence en avant car elle est importante pour ma carrière et ma vision du monde du développement.</p>