<section id="technicalSkills">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Technical Skills</h1>
                <hr class="icon code primary" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-4" *ngFor="let s of technicalSkills">
                <div class="skill-item-info">
                    <a [routerLink]="['/skills', s.url]">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-2x"></i>
                                <h3>{{s.name}}</h3>
                            </div>
                        </div>
                        <img class="img-responsive" [src]="s.imageUrl" [alt]="s.name" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>