div /deep/ .panel.panel-primary {
    border-color: @theme-primary;

    .panel-heading {
        border-color: inherit;
        background-color: @theme-primary;
    }
}

div /deep/ .panel.panel-warning {
    border-color: @theme-warning;

    .panel-heading {
        border-color: inherit;
        background-color: @theme-warning;
    }
}

div /deep/ .panel.panel-success {
    border-color: @theme-success;

    .panel-heading {
        border-color: inherit;
        background-color: @theme-success;
        color: white;
    }
}

div /deep/ .panel.panel-custom {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 0;
    border-left: none;
    border-right: none;
    border-radius: 0;
    text-align: left;
    box-shadow: none;

    .panel-heading {
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        i.fa {
            padding-top: 2px;
        }
    }

    .panel-body {
        border: none;
    }

    ul {
        list-style: none;

        & i.fa {
            margin-right: 5px;
        }
    }
}