<h3>Le Back-End Web de Microsoft</h3>
<p>
    C’est l'une des technologies du <i>framework .NET</i>, un ensemble de technologie mises à disposition aux développeurs. Elle permet la <b>création d’applications Web</b>.<br/>
    L’ASP.NET se compose d’une partie <i>back</i>, ou <b>serveur</b>, et d’une partie <i>front</i> appelée aussi <b>client</b>.<br/>
    La technologie inclue de nombreux mécanismes tels que des mécanismes d’authentification, d’API, de formatage JSON et bien d’autres techniques utilisées aujourd’hui dans les applications Web.
</p>
<p>
    La technologie a un bel avenir devant elle puisque une nouvelle version, basée sur le nouveau framework <b>.NET Core</b>, est sortie en 2016.<br/>
    Microsoft a mis à jour la manière de créer une application Web pour correspondre aux <b>pratiques courantes</b> de la création d'application Web, tel que <a href="https://nodejs.org/en/" target="_blank">NodeJS</a> ou <a href="https://reactjs.net/" target="_blank">ReactJS</a>.
</p>
<p>
    J’utilise cette technologie, dans sa dernière version, pour le portfolio que vous lisez. Le <i>back</i> met à disposition une <b>API</b> pour les données et le <i>front</i> s’occupe de gérer la <b>navigation</b> et <b>l'affichage</b>.
    Je sais à la fois <b>mettre en place</b> un serveur, créer et rendre un API disponible. Je sais <b>configurer</b> l’authentification et toute la chaine de traitement du serveur.
</p>