<h3>L'autonomie et moi</h3>
<div class="quote-container">
    <i class="fa fa-quote-left pull-left" aria-hidden="true"></i>
    <p class="quote">
        <i>Capacité de quelqu'un à être autonome, à ne pas être dépendant d'autrui ; caractère de quelque chose qui fonctionne ou évolue indépendamment d'autre chose.</i>
        <span class="quoter pull-right">Dictionnaire Larousse <i class="fa fa-quote-right" aria-hidden="true"></i></span>
    </p>
</div>
<p>Ci-dessus, la définition du dictionnaire mais voici ma définition :</p>
<div class="quote-container success">
    <i class="fa fa-quote-left pull-left" aria-hidden="true"></i>
    <p class="quote">
        <i>L’autonomie, selon moi, c’est ma capacité à réaliser des taches par moi-même, rechercher l’information, trouver une solution à un problème et l’appliquer.</i>
        <span class="quoter pull-right">Antoine BIBES <i class="fa fa-quote-right" aria-hidden="true"></i></span>
    </p>
</div>
<p>
    Cette compétence m'a permis de rapidement <b>évoluer</b> et m'intégrer dans le monde professionnel.
    En effet après avoir appris de mes collègues j’ai pu chercher et trouver par moi-même les réponses à mes questions.
</p>
<p>
    J’ai surtout mis en œuvre cette compétence pour réaliser le projet <a [routerLink]="['/projects', 'gc']">Gestion de consignes</a>.
    Comme indiqué sur la page du projet, il a été réalisé avec <i>AngularJS</i>. Je ne connaissais pas le framework avant de commencer le projet.
    Je me suis <b>formé par moi-même</b> pour le réaliser et ainsi <b>acquérir une nouvelle compétence</b> technique.
</p>