<h3>Le rendu pour le navigateur</h3>
<p>
    Votre navigateur ne comprend pas beaucoup de chose pour vous afficher une page Web.
    Il ne comprend que le <b>HTML</b>, le <b>CSS</b> et le <b>JavaScript</b>.
</p>
<p>
    Le HTML, pour <b>HyperText Markup Language</b> ou <i>Langage de Balisage Hyper Texte</i>, est le langage utilisé pour l’affichage de tous les <b>éléments</b> d’un site Web.
    C’est ce langage qui permet de dire <i>« Ceci est titre »</i> ou <i>« Ceci est un bouton »</i>.
</p>
<p>
    Le CSS, pour <b>Cascading Style Sheets</b> ou <i>Feuilles de Style en cascade</i>, met en forme tous les éléments HTML.
    Par exemple un bouton est par défaut rectangulaire, si vous le voulez rond, le CSS permet de configurer le rendu de votre bouton.<br/>
    Il permet également de pouvoir gérer <i>facilement</i> le rendu d'une page Web sur différents appareils comme une tablette ou un téléphone.
</p>
<p>
    Ces deux langages sont les <b>prérequis pour créer des sites et applications Web</b>. Ce sont des technologies que je pratique depuis mon entrée à IN’TECH.
</p>
<p>
    Sans elles, mon portfolio ne serait pas comme vous le voyez à présent. J’ai placé et stylisé chaque ligne ou élément visible de la page que vous lisez.
</p>