<section id="project-detail">
    <div class="container">
        <div class="project-header">
            <div class="row">
                <div class="col-lg-12">
                    <h2>{{'project.' + project.url + '.name' | translate:lang}}</h2>
                    <hr class="icon bookmark primary"/>
                </div>
            </div>
            <back-button [route]="'/projects'"></back-button>
        </div>

        <div class="project-body">
            <div class="row">
                <div class="project-context" [ngClass]="{'col-sm-8': project.links.length, 'col-sm-12': !project.links.length}">
                    <project-dynamic-loader [project]="project"></project-dynamic-loader>
                </div>
                <div class="col-sm-4">
                    <div class="project-links" *ngIf="project.links.length">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3>{{'project-detail.skills' | translate:lang}}</h3>
                                <hr class="icon star primary"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <ul>
                                    <li *ngFor="let link of project.links">
                                        <a class="btn btn-outline" [routerLink]="['/skills', link.type, link.url]" [ngClass]="{'success': link.typeId === 1, 'warning': link.typeId === 2}">
                                            {{'skill.' + link.url + '.name' | translate:lang}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="project-details" *ngIf="project.details.length">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3>{{'project-detail.details.label' | translate:lang}}</h3>
                                <hr class="icon info primary"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <ul>
                                    <li *ngFor="let detail of project.details">
                                        <span>{{'project-detail.details.' + detail | translate:lang}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="project-footer">
            <back-button [displayText]="true" [route]="'/projects'" [text]="'backtoprojects'"></back-button>
        </div>
    </div>
</section>