<h3>Un gestionnaire de consignes</h3>
<p>
    Gestion de consigne est une application Web développée pour <a href="http://www.dassault.fr/filiale.php?docid=2394" target="_blank">Dassault Falcon Service</a>.
    Elle a pour but de mettre à disposition des techniciens et chef d’équipe en charge de la maintenance des avions une plateforme recensant les différentes tâches à effectuer,
    appelées consignes, sur un avion.
</p>
<p>
    Je devais développer l’<b>architecture du site et de la base de données</b> pour permettre au système de gérer plusieurs connexions simultanées.<br/>
    De plus il fallait pouvoir <b>restreindre les accès</b> à certaines parties de l’applications, telle que l’administration, aux différents utilisateurs en fonction de leur rôle.<br/>
    Ensuite, un chef d’équipe devait <b>pouvoir créer, modifier, attribuer ou supprimer</b> des consignes aux différents techniciens.<br/>
    Pour finir, je devais implémenter un <b>mécanisme de suivi</b> de l’avancée des consignes.
</p>
<p>
    Pour cette application j’ai développé <b>seul</b>, avec un <i>suivi régulier</i> avec un chef de projet, l’application et la base de données.<br/>
    L’application a été développée avec l’<a href="https://www.asp.net/" target="_blank">ASP .NET</a> pour la partie serveur et l’<a href="https://angularjs.org/" target="_blank">AngularJS</a> pour le côté client.
    La base de données a été faite avec <a href="https://www.microsoft.com/fr-fr/sql-server/sql-server-2016" target="_blank">SQL Server</a>.
</p>
<p>
    La plus grande difficulté lors de ce projet est l’<b>apprentissage</b> de l’<a href="https://angularjs.org/" target="_blank">AngularJS</a>.
    Je n’avais jamais réalisé un projet en utilisant ce framework front.
    J’ai appris ses <i>concepts et fonctionnalités</i> au cours du développement.
</p>
<p>
    Avec du recul et de l’expérience, si je devais refaire l’application, je <b>referais toute la partie client</b>.
    Il y a de nombreuses <b>pratiques</b> que je n’ai pas appliqué faute de connaissance et de <b>concepts</b> que je n’avais pas acquis.
</p>