<h3>Le langage orienté object du .NET</h3>
<p>
    Le Framework .NET est un <b>ensemble de technologies</b> développé par <a href="https://www.microsoft.com/net/" target="_blank">Microsoft</a> et s’appuyant sur les systèmes d’exploitations de celui-ci.
    Il met à disposition un environnement d’exécution pour les langages compatibles <b>CLI (Common Language Infrastructure)</b>.
</p>
<p>
    Le C# est un <b>langage de programmation orienté objet</b>.
    Il a été introduit par Microsoft pour pouvoir développer en s’appuyant le Framework .NET.<br/>
    Il est <b>l’équivalent du Java</b> par ses <i>concepts</i> et sa <i>syntaxe</i>.
</p>
<p>
    Il permet de développer à la fois des <b>applications lourdes</b>, des <b>applications Web</b> et des <b>services</b>.<br/>
    J'ai fait majoritairement des applications Web, en <b>ASP .NET</b>, dont toute la partie serveur est écrite en C#.
</p>
<p>
    Si vous voulez en savoir plus, n'hésitez pas à aller voir <a href="https://docs.microsoft.com/fr-fr/dotnet/csharp/getting-started/introduction-to-the-csharp-language-and-the-net-framework" target="_blank">l'introduction au C# et le framework .NET</a>.
</p>