<h3>Mon CV en ligne</h3>
<p>
    Ce projet est un prérequis pour l'obtention de mon <b>diplôme d'expert en ingénierie du logiciel, RNCP niveau 1</b>, délivré par l’école <a href="https://www.intechinfo.fr/" target="_blank">IN’TECH du groupe ESIEA</a>.
    Ce site vous montre les différentes <b>compétences</b> et <b>projets</b> qui me sont importants.
</p>
<p>
    Ce site a été développé entièrement en utilisant les technologies <a href="https://docs.microsoft.com/en-us/aspnet/core/" target="_blank">ASP .NET Core</a> pour la partie serveur et <a href="https://angular.io/" target="_blank">Angular (version 4)</a> pour la partie cliente.<br />
    C’est l’occasion pour moi de me former sur la nouvelle version d’<b>Angular</b>.
    Ce framework Angular, au contraire de son précurseur, <a href="https://angularjs.org/" target="_blank">AngularJS</a>, a été écrit en <b>TypeScript</b>.<br />
    Le <a href="https://www.typescriptlang.org/" target="_blank">TypeScript</a> est un langage développé par <a href="https://www.microsoft.com/fr-fr/" target="_blank">Microsoft</a> qui permet d’écrire du code tel qu’on le ferait avec le C#.
    Ce code doit être ensuite <b>transformé en JavaScript</b> pour que le navigateur le comprenne.
</p>
<p>
    La raison principale pour avoir développé ce site web, c’est l’envie de <b>démontrer mes compétences</b> à travers un exemple concret qu’est mon portfolio.<br />
    L’autre raison, plus ludique, est celle de l’<b>apprentissage d’une nouvelle technologie</b> et sa mise en application.
    Travailler sur de nouvelles technologies et s’amuser en la pratiquant est l’un de mes principaux moteurs d’exécution.
</p>