<h3>Mon premier jeu en client lourd</h3>
<p>
    Gleipnir est une <b>application lourde pour un jeu de gestion développé</b> en <b>C#</b> avec le <a href="https://www.microsoft.com/net/" target="_blank">framework .NET</a> et avec la technologie <a href="https://msdn.microsoft.com/fr-fr/library/dd30h2yb(v=vs.110).aspx" target="_blank">Windows Forms</a>.
    Il a été réalisé dans le cadre d’un <b>projet d’étude</b> du semestre 3 à IN’TECH.
</p>
<p>
    Le joueur incarne le rôle d’un dieu qui doit participer au bon développement d’un village.
    Le but est de garder l’économie, la foi, le bonheur et la nourriture à niveau pour éviter de perdre.
</p>
<p>
    Ce jeu est le <b>premier projet réalisé avec un langage orienté objet</b>.
    Nous étions <b>trois</b> pour développer du jeu sur une période de <b>trois mois</b>.
    Nous avons tous fait, de la réalisation des pages utilisateurs à la logique de gestion des composantes du jeu.
</p>
<p>
    Nous avons établi des <b>spécifications</b> pour définir le périmètre de développement.
    Puis j’ai été en charge de développer l’<b>interface graphique</b> ainsi que les <b>actions utilisateurs</b>.
</p>
<p>
    Maintenant, avec les compétences que j’ai acquis en programmation orienté objet, je referais le projet en utilisant des <b>technologies plus adaptées pour développer un jeu</b>.
</p>