<h3>Un outil de monitoring</h3>
<p>
    Lors de mon stage dans la <b>DSI</b>, Direction des Systèmes d'Information, de <a href="http://www.francemediasmonde.com/" target="_blank">France Media Monde</a>, on m’a donné comme projet de développement un <b>outil de monitoring</b> pour visualiser l’état des flux d’enregistrement de la TV & radio.
    Cet outil doit permettre à un technicien de voir l’état des flux à tout moment.
</p>
<p>
    Cet outil est une application Web développée en <a href="https://www.asp.net/" target="_blank">ASP .NET</a> pour le côté serveur et <b>JavaScript</b> avec la librairie <a href="https://jquery.com/" target="_blank">jQuery</a> pour la partie client.
</p>
<p>
    Je me suis basé sur l'<b>architecture d'une autre application</b> réalisée pour développer tout le site avec l'aide d'un jeu de <b>données de test.</b>
</p>
<p>
    Ce projet, d'une durée de un mois, a été le <b>premier projet que j'ai réalisé avec l'ASP .NET</b> ainsi que ma première expérience avec le <b>JavaScript</b>.<br/>
    Ce projet est une <b>réussite</b> car il a été lancé en production à la fin du développement que j'ai réalisé.
</p>