<h3>Ou comment être un caméléon</h3>
<p>Le monde de l'informatique est en constante évolution. Celle-ci est parfois même trop rapide. Il nous faut savoir s'adapter afin de ne pas être mis de côté face aux changements.</p>
<p>
    Depuis que j'ai commencé la programmation, je n'ai pas eu deux projets utilisant exactement le même environement.<br />
    Il m'a fallu m'adapter aux <b>exigences</b> mais aussi aux technologies afin de répondre aux <i>besoins du projet</i>.
    Ces adaptations sont ininterrompues même au court d’un projet dont les bases ont été établies. Régulièrement pendant le développement on ne connait pas la réponse à un problème et il faut savoir <b>s'adapter en fonction du temps et du coût</b> de la solution.
</p>
<p>
    Cette compétence m'est particulièrement utile depuis que je travaille sur des projets en équipe. En m'adaptant aux <b>modes de travail des collègues</b> ou aux technologies informatiques utilisées je sais réagir pour en tirer des <i>bénéfices</i> pour les projets et pour moi.
</p>