@import "./../../../theme/variables.less";
@import "./../../../theme/mixins.less";
@import "./../../../theme/button.less";

.back-button {
    position: absolute;

    span {
        vertical-align: super;
        padding-left: 5px;
    }
}