<h3>Un store applicatif</h3>
<p>
    Altec Store est un ensemble d’applications développées, ou intégrées, dans un <b>store applicatif</b> développé pour l’occasion.
    Ce store d’application a été réalisé à la demande d’<a href="https://www.airliquide.com/" target="_blank">Air Liquide</a>.
    Le client voulait que le store applicatif, appelé store, soit <b>administrable</b> afin de pouvoir gérer les différentes versions des logiciels et de leurs données pour les applications métiers.
</p>
<p>
    Le but était donc de développer un <b>client lourd</b> servant de store qui installe, met à jour et désinstalle des applications en fonction de l’utilisateur connecté au PC.
    Il fallait créer le <b>système de centralisation et gestion des versions</b> des applications à l’aide d’une base de données.
    Puis mettre en place le <b>système d’installation, mise à jour et désinstallation automatique</b>.
    Finalement, ce store applicatif a pour but de pouvoir <b>exécuter les applications à la manière de la liste d’applications d’un smartphone</b>.
</p>
<p>
    Les applications lourdes ont été développée en <a href="https://docs.microsoft.com/fr-fr/dotnet/csharp/csharp" target="_blank">C#</a> et
    <a href="https://msdn.microsoft.com/fr-fr/library/aa970268(v=vs.110).aspx" target="_blank">WPF</a>, <i>Windows Presentation Foundation</i>,
    en utilisant le <a href="https://www.microsoft.com/net/" target="_blank">framework .NET</a>.
    En ce qui concerne les bases de données, celles-ci ont fonctionnent avec <a href="https://www.microsoft.com/fr-fr/sql-server/sql-server-2016" target="_blank">SQL Server</a>.
    Tous les sites Web d’administration ont été développés en <a href="https://www.asp.net/" target="_blank">ASP .NET</a>.
    Afin de mieux séparer les administrations de chaque application métier, nous avons développés des services <a href="https://msdn.microsoft.com/fr-fr/library/ms731082(v=vs.110).aspx" target="_blank">WCF</a>,
    <i>Windows Communication Foundation</i>. Les mécanismes du store utilisent le <b>Batch</b> pour installer, mettre à jour ou désinstaller une application.
</p>
<p>
    J’ai participé au développement de ce projet en intervenant à la fois sur le développement d’<b>applications métiers</b> à ajouter dans le store et à la fois sur le développement du <b>store</b>.
    Puis j’ai aussi travaillé sur le <b>site d’administration</b> du store et enfin, j’ai mis en place les <b>mécanismes d’installation, mise à jour et de désinstallation</b> du store.
</p>
<p>
    Au cours de ce projet j’ai dû apprendre le <b>JavaScript</b> couplé avec la libraire <a href="https://jquery.com/" target="_blank">jQuery</a>, le <b>Batch</b> pour les mécanismes du store applicatif, le <b>WPF</b> ainsi que le fonctionnement du <b>WCF</b>.
    Et j’ai aussi appris à travailler avec une base de données <b>SQL Server</b>.<br />
    Ce projet m’a beaucoup apporté par sa complexité et les technologies diverses et variées sur lesquelles j’ai pu monter en compétence.
</p>