<footer class="text-center navbar-fixed-bottom">
    <div class="footer-below">
        <div class="container">
            <div class="row copyright">
                <div class="col-xs-12">{{'footer.copyright' | translate:lang}}</div>
            </div>
            <br/>
            <div class="row powered-by">
                <div class="col-xs-12">
                    <span>{{'footer.powered.by' | translate:lang}}</span> <a href="https://docs.microsoft.com/en-us/aspnet/core/" target="_blank">{{'footer.powered.aspnet' | translate:lang}}</a> <a href="https://angular.io/" target="_blank">{{'footer.powered.angular' | translate:lang}}</a> <a href="http://getbootstrap.com/" target="_blank">{{'footer.powered.bootstrap' | translate:lang}}</a> <a href="https://startbootstrap.com/template-overviews/freelancer/" target="_blank">{{'footer.powered.freelancer' | translate:lang}}</a>
                </div>
            </div>
            <div class="row thanks">
                <div class="col-xs-12">
                    <span>{{'footer.help' | translate:lang}}</span>
                </div>
            </div>
            <!--<div class="language-selector">
                <select (ngModelChange)="onLanguageChange($event)" class="form-control" [ngModel]="currentLanguage">
                    <option *ngFor="let c of cultures" [value]="c">{{'localization.' + c | translate:lang}}</option>
                </select>
            </div>-->
        </div>
    </div>
</footer>