<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">{{'footer.powered.by' | translate:lang}}</div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-xs-offset-3">
                    <a href="https://docs.microsoft.com/en-us/aspnet/core/" target="_blank">{{'footer.powered.aspnet' | translate:lang}}</a>
                </div>
                <div class="col-xs-3">
                    <a href="https://angular.io/" target="_blank">{{'footer.powered.angular' | translate:lang}}</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-12">{{'footer.powered.styled' | translate:lang}}</div>
                </div>
            </div>
            <div class="row">
                <div class="footer-col col-xs-3 col-xs-offset-3">
                    <a href="http://getbootstrap.com/" target="_blank">{{'footer.powered.bootstrap' | translate:lang}}</a>
                </div>
                <div class="footer-col col-xs-3">
                    <a href="https://startbootstrap.com/template-overviews/freelancer/" target="_blank">{{'footer.powered.freelancer' | translate:lang}}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">{{'footer.copyright' | translate:lang}}</div>
            </div>
        </div>
    </div>
</footer>