@import "./../../../theme/variables.less";
@import "./../../../theme/mixins.less";
@import "./../../../theme/button.less";
@import "./../../../theme/hr.less";

.skill-header {
    position: relative;

    & /deep/ .back-button {
        top: 15px;
    }
}

.skill-body {
    position: relative;
    padding-top: 35px;

    .quote-container {
        margin-bottom: 15px;

        i.fa {
            color: @theme-success;
        }

        p.quote {
            font-style: italic;
            margin-bottom: 0;
            color: @theme-success;
            text-align: justify;
        }
    }

    .skill-links {
        ul {
            list-style: none;
            padding-left: 0;

            li a.btn {
                width: 75%;
            }
        }
    }

    .skill-context /deep/ p {
        text-align: left;
    }
}

.skill-footer {
    position: relative;
    padding-top: 30px;
    padding-bottom: 15px;
    text-align: left;

    & /deep/ .back-button {
        position: relative;
    }
}