<section id="skill-detail">
    <div class="container">
        <div class="skill-header">
            <div class="row">
                <div class="col-lg-12">
                    <h2>{{'skill.' + skill.url + '.name' | translate:lang}}</h2>
                    <hr class="icon star primary"/>
                </div>
                <back-button [route]="'/skills/' + skill.type"></back-button>
            </div>
        </div>

        <div class="skill-body">
            <div class="row">
                <div class="skill-context" [ngClass]="{'col-sm-8': skill.rating && skill.rating > -1 || skill.links.length, 'col-sm-12': !skill.rating || skill.rating < 0 || !skill.links.length}">
                    <skill-dynamic-loader [skill]="skill"></skill-dynamic-loader>
                </div>

                <div class="col-sm-4">
                    <div class="skill-rating" *ngIf="skill.rating && skill.rating > -1">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3>{{'skill-detail.rating' | translate:lang}}</h3>
                                <hr class="icon bookmark primary"/>
                            </div>
                        </div>
                        <rating [value]="skill.rating"></rating>
                    </div>

                    <div class="skill-links" *ngIf="skill.links.length">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3>{{'skill-detail.projects' | translate:lang}}</h3>
                                <hr class="icon bookmark primary"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <ul>
                                    <li *ngFor="let link of skill.links">
                                        <a class="btn btn-outline info" [routerLink]="['/projects', link]">
                                            {{'project.' + link + '.name' | translate:lang}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="skill-footer">
            <div class="row">
                <back-button [displayText]="true" [route]="'/skills/' + skill.type" [text]="'backtoskills'"></back-button>
            </div>
        </div>
    </div>
</section>