<h3>En bref</h3>
<p>
    Je m’appelle <b>Antoine BIBES</b>, j’ai <b>{{age}} ans</b> et je possède un diplôme d’<b>expert en ingénierie du logiciel</b>, obtenu dans l’école supérieure d’ingénierie informatique <a href="https://www.intechinfo.fr/" target="_blank">IN’TECH du Groupe ESIEA</a>.
    Je développe depuis le lycée. J'ai commencé avec le <b>C</b> puis j'ai rapidement fait des <b>sites Web</b> avec du <b>HTML</b> et du <b>CSS</b>.
    Puis j'ai étendu mes connaissances en développement avec des <b>clients lourds</b>.
    Depuis, je n’ai cessé d’apprendre de nouvelles technologies, de nouvelles pratiques et de nouveaux concepts.
</p>
<h3>Mon cursus</h3>
<p>
    J’ai commencé mes études à <a href="https://www.intechinfo.fr/" target="_blank">IN’TECH</a> après l’obtention de mon <b>BAC STI</b> (<i>Sciences et Techniques de l’Ingénieur</i>) spécialité électronique.<br />
</p>
<h4><i>Pourquoi cette école et pas une autre ?</i></h4>
<p>
    D’une part, le cursus de l’école : se <b>former à la vie de l’entreprise</b> par le biais de multiples <b>projets à réaliser</b> pendant les semestres.
    Cette méthode de fonctionnement, plus <b>pratique</b> que théorique, m’a permis de rapidement monter en compétences tout en gardant le côté ludique de l’apprentissage.<br />
    Secondement l’école se veut à <b>taille humaine</b> : pas de promo de 200 élèves mais environ 30.
    Cela met un cadre d’étude tourné vers l’<b>entre aide</b> où chacun se connait et où les échanges sont plus simples.
</p>
<h3>Mon entré dans la vie professionnelle</h3>
<p>
    Pour mon <i>stage</i> de fin de 3ème année, d'une durée de <b>6 mois</b>, je suis entré à <a href="http://www.alter-solutions.com/">Alter-Frame du groupe Alter Solutions Engineering</a>.
    Une <b>SSII</b>, <i>Société de Services en Ingénierie Informatique</i>, ou maintenant appelé <b>ESN</b>, <i>Entreprise de Services du Numérique</i>, travaillant sur des projets au forfait, soit un développement d’un projet avec une obligation de résultat.<br />
    J’ai ensuite continué après le stage avec une <i>alternance</i> pendant <b>2 ans</b> dans cette même entreprise.<br />
    Pendant ces deux ans et demi, j’ai participé au développement de plusieurs projets pour divers clients.
    Vous les retrouverez dans la page <a [routerLink]="['/projects']">{{'navbar.projects' | translate:lang}}</a>.
</p>