<h3>Le scripting Web</h3>
<p>
    Le JavaScript est un <b>langage de programmation</b> et de <i>script</i> pour les navigateurs Web.
    Il permet la <b>manipulation</b> d’une page Web afin de la rendre dynamique, c’est-à-dire sans rechargement requis.
</p>
<p>
    J’ai appris le JavaScript que <b>tard dans ma scolarité</b> : j’ai commencé à partir du semestre 5, début de la troisième année.
    J’ai très vite <b>progressé lorsque je suis arrivé en entreprise</b> pour le stage de 6 mois du semestre 6.<br/>
    Je me suis familiarisé avec la syntaxe et les concepts à travers les projets que l’on m’a donné.
</p>
<p>
    Lorsque je me suis formé sur l'AngularJS j'ai dû <b>approfondir mes connaissances du langage</b> pour pouvoir maitriser le framework.
    J’ai franchi le cap de la <i>manipulation de page HTML</i> pour pouvoir créer une <i>application Web côté client</i> avec des appels de données sur une API ou pour la gestion d’une navigation dynamique.
</p>
<p>
    Depuis, tous les développements d'application Web que je fais utilisent du JavaScript pour rendre les interactions <b>dynamiques et fluides</b>.
    Je n’envisage plus de faire un site Web en utilisant que du HTML et du CSS.
</p>