@import "./../../../theme/variables.less";
@import "./../../../theme/mixins.less";

div.container-fluid {
    text-align: center;
    padding-top: @padding-header;
    padding-left: 0;
    padding-right: 0;

    &#maincontent {
        outline: none;
    }
}

@media(min-width:790px) {
    div.container-fluid {
        padding-top: @padding-header-lg;
    }
}