<div class="rating">
    <div class="row">
        <div class="col-xs-2 col-xs-offset-1">
            <i class="fa fa-3x" [ngClass]="{'fa-star-o': ratingValue <= 0, 'fa-star-half-o': ratingValue > 0 && ratingValue < 1, 'fa-star': ratingValue >= 1}"></i>
        </div>
        <div class="col-xs-2">
            <i class="fa fa-3x" [ngClass]="{'fa-star-o': ratingValue <= 1, 'fa-star-half-o': ratingValue > 1 && ratingValue < 2, 'fa-star': ratingValue >= 2}"></i>
        </div>
        <div class="col-xs-2">
            <i class="fa fa-3x" [ngClass]="{'fa-star-o': ratingValue <= 2, 'fa-star-half-o': ratingValue > 2 && ratingValue < 3, 'fa-star': ratingValue >= 3}"></i>
        </div>
        <div class="col-xs-2">
            <i class="fa fa-3x" [ngClass]="{'fa-star-o': ratingValue <= 3, 'fa-star-half-o': ratingValue > 3 && ratingValue < 4, 'fa-star': ratingValue >= 4}"></i>
        </div>
        <div class="col-xs-2">
            <i class="fa fa-3x" [ngClass]="{'fa-star-o': ratingValue <= 4, 'fa-star-half-o': ratingValue > 4 && ratingValue < 5, 'fa-star': ratingValue >= 5}"></i>
        </div>
    </div>
</div>